.Circle,
.Square {
  position: absolute;
  background: $light-gradient;
  z-index: -2;
}

.Circle {
  height: 170px;
  width: 170px;
  border-radius: 100rem;
  box-shadow: 0px 10px 20px #fafaff,
    inset -16px -16px 32px rgba(0, 0, 200, 0.04),
    inset 16px 16px 16px rgba(255, 255, 255, 1);
}

.Square {
  height: 120px;
  width: 120px;
  border-radius: 2.6rem;
  transform: rotate(45deg);
  box-shadow: 16px 0 16px #fafaff, inset -12px -4px 12px rgba(0, 0, 200, 0.04),
    inset 16px 0 16px rgba(255, 255, 255, 1);
}

.GradientText {
  font-family: $work-sans;
  font-weight: 900;
  background: $dark-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.BaseText {
  font-family: $work-sans;
  color: $base-text-color;
  font-size: $fs-base;
}

.SmallText {
  font-family: $work-sans;
  color: $base-text-color;
  font-size: $fs-small;
}
