$base-background-color: #f3f7ff;
$base-background-color-shade: #e1e4ff;
$base-text-color: #2c2d4a;
$light-text-color: #5f6585;
$base-accent-light: #d2d6fb;

$dark-gradient: linear-gradient(296deg, #0013ff 13%, #8349ff 74%);
$transparent-gradient: linear-gradient(296deg, #0013ff11 13%, #8349ff11 74%);
$light-gradient: linear-gradient(296deg, #eeeeff 13%, #f3f7ff 100%);
$button-gradient: linear-gradient(296deg, #dbe1ff 13%, #ffffff 100%);
$white-gradient: linear-gradient(142deg, #ffffff 0%, #eeffff 100%);

$work-sans: "Work Sans", sans-serif;
$open-sans: "Open Sans", sans-serif;

$fs-small: 1rem;
$fs-base: 1.618rem;
$fs-mid: 2.618rem;
$fs-large: 4.236rem;
$fs-larger: 6.854rem;
$fs-largest: 11.089rem;
$fs-mega: 17.942rem;
