$base-background-color: #f3f7ff;
$base-background-color-shade: #e1e4ff;
$base-text-color: #0c1d7a;
$light-text-color: #5f6585;
$base-accent-light: #d2d6fb;

$dark-gradient: linear-gradient(296deg, #0026ff 13%, #7e00cc 74%);
$light-gradient: linear-gradient(296deg, #cbd1ef 13%, #dbe1ff 100%);
$white-gradient: linear-gradient(142deg, #ffffff 0%, #eeffff 100%);

$work-sans: "Work Sans", sans-serif;
$open-sans: "Open Sans", sans-serif;

$fs-small: 1rem;
$fs-base: 1.618rem;
$fs-large: 4.236rem;
$fs-larger: 6.854rem;
$fs-largest: 11.089rem;
