@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;700;900&display=swap");
@import "./imports/variables";
@import "./imports/utility";
@import "./HomePage.scss";
@import "./FormPage.scss";
@import "GamePage.scss";
@import "./responsive/low-res.scss";
@import "./responsive/mobile.scss";
@import "./responsive/high-res.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  visibility: hidden;
}

body {
  background-color: $base-background-color;
}

.PageTransition__Overlay {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  transform-origin: center;
}

.Overlay__One {
  top: 150%;
  background: $base-text-color;
}

.Overlay__Two {
  top: 150%;
  background: $dark-gradient;
}

.Overlay__Three {
  top: 150%;
  background: $base-background-color;
}
