@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:wght@400;700;900&display=swap");
@import "./imports/variables";
@import "./imports/utility";
@import "./HomePage.scss";
@import "./FormPage.scss";
@import "GamePage.scss";
@import "./responsive/low-res.scss";
@import "./responsive/mobile.scss";
@import "./responsive/high-res.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  visibility: hidden;
}

body {
  background-color: $base-background-color;
}
