@import "./imports/variables";

.FormPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  padding-block: 2rem;
}

.FormPageTop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-inline-start: 15%;

  &__Title {
    font-size: $fs-larger;
    text-shadow: -2px -2px 8px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  }
}

/* Challenge Options */
.ChallengeOptions__Background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: $dark-gradient;

  .ChallengeButton {
    font-family: $work-sans;
    font-size: $fs-base;
    font-weight: 800;
    border: none;
    background: $light-gradient;
    color: $base-text-color;
    height: 300px;
    width: 300px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 16px 24px 32px #0015ab,
      inset -16px -16px 32px rgba(0, 21, 171, 0.6), inset 16px 16px 32px #ffffff;
    outline: none;
    cursor: pointer;
  }
}

/* ReceivePage */
.ReceiveChallengeContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $dark-gradient;
  overflow: hidden;

  .ReceiveSphere__Layer {
    &One {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 450px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: white;
      opacity: 10%;
      transform: translate(-50%, -50%);
    }
    &Two {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: white;
      z-index: 1;
      opacity: 20%;
      transform: translate(-50%, -50%);
    }
    &Final {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      background: white;
      z-index: 2;
      opacity: 100%;
      transform: translate(-50%, -50%);
      display: grid;
      place-items: center;
      font-family: $work-sans;
      font-size: $fs-base;
      font-weight: 800;
      color: $base-text-color;
    }
  }
}

/* FormPage */
.YourId > span {
  font-weight: 800;
}

.YourId {
  width: max-content;
  padding: 12px 32px;
  display: flex;
  gap: 24px;
  align-items: center;
  border-radius: 1.4rem;
  font-family: $open-sans;
  font-size: $fs-small;
  background: $white-gradient;
  color: $base-text-color;
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);

  &Inner__Wrapper {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__Text {
    padding: 4px 16px;
    background-color: $base-accent-light;
    border-radius: 1rem;
  }

  &__Button {
    all: unset;
    cursor: pointer;
    display: grid;
    place-items: center;
  }
}

.YourId:hover {
  box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.1);
}

.FormDialog {
  min-height: 24rem;
  background: $white-gradient;
  padding: 2rem;
  padding-inline-end: calc(2rem + 12px);
  padding-block-end: 4rem;
  border-radius: 3rem;
  margin-block-start: 5.75rem;
  box-shadow: 16px 16px 32px rgba(200, 200, 255, 0.6),
    inset -12px -12px 24px rgba(219, 225, 255, 0.8),
    inset 16px 16px 32px #ffffff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;

  &__Steps {
    list-style: none;
    font-family: $open-sans;
    font-size: $fs-base;
    color: $base-text-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 0;

    .Step {
      min-width: 16rem;
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1rem;
      position: relative;

      &__Background {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        border-radius: 1.2rem;
      }

      &--Active {
        .Step__Background {
          background-color: $base-background-color;
        }
        .Step__Number {
          background-color: white;
        }
      }

      &--Inactive {
        color: $light-text-color;
      }

      &__Number {
        font-family: $work-sans;
        font-size: $fs-small;
        margin-inline-start: 12px;
        padding-inline: 12px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
      }

      &__Text {
        z-index: 2;
      }
    }
  }

  &__FormEle {
    flex-grow: 1;
    .FormContainer {
      display: flex;
      justify-content: center;
      align-items: center;

      .FormInner__Wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;
      }

      &__Options {
        display: flex;
        gap: 2rem;

        .OptionEle {
          height: 8rem;
          width: 8rem;
          max-width: 100%;
          aspect-ratio: 1/1;
          border-radius: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: $work-sans;
          font-weight: 800;
          font-size: $fs-larger;
          color: white;
          text-shadow: -2px -2px 8px rgba(255, 255, 255, 0.5);
          text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
          cursor: pointer;
        }

        .Option_Container--Unselected,
        .Option_Container--Selected {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.6rem;
        }

        .Option_Container--Selected {
          .SelectionBar {
            height: 0.4rem;
            width: 5rem;
            background: $dark-gradient;
            border-radius: 10rem;
          }

          .OptionEle {
            background: $dark-gradient;
          }
        }

        .Option_Container--Unselected {
          .OptionEle {
            background: $base-accent-light;
          }
        }
      }

      &__IdForm {
        padding-block-start: 1rem;
        .IdForm__Ele input {
          min-width: 320px;
          padding: 12px 24px;
          border: 2px solid $base-accent-light;
          border-radius: 1rem;
          outline: none;
        }

        .IdForm__Ele,
        .IdForm__Ele input {
          font-family: $open-sans;
          font-size: $fs-base;
          color: $base-text-color;
        }

        .IdForm__Ele {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }
      }

      &__Button {
        padding: 1rem 2rem;
        align-self: flex-start;
        font-family: $work-sans;
        font-size: $fs-base;
        border: 2px solid $base-accent-light;
        border-radius: 1.25rem;
        color: $base-text-color;
        background: none;
        cursor: pointer;
      }
    }
  }
}
