@import "./imports/variables";

.GamePage {
  min-height: 100vh;
  padding-block-start: 0;
  display: grid;
  place-items: center;

  .Game__Wrapper {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    padding: 2rem;
  }

  .InfoWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  .InfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 2rem;

    .SideChar {
      font-size: $fs-larger;
      background: $light-gradient;
      background-clip: text;
    }

    .SideStatus {
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      &__Indicator {
        height: 12px;
        width: 12px;
        background: green;
        border-radius: 50%;
      }
    }
  }

  .GameBoard {
    aspect-ratio: 1/1;
    background: $white-gradient;
    border-radius: 5rem;
    box-shadow: 16px 16px 32px rgba(193, 182, 255, 0.6),
      inset -12px -12px 24px rgba(219, 225, 255, 0.8),
      inset 16px 16px 32px #ffffff;
    display: grid;
    grid-template-columns: repeat(3, max(8rem, 8vw));
    grid-template-rows: repeat(3, max(8rem, 8vw));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: center;
    align-content: center;
    padding: 2.4rem;

    .GameCell {
      text-shadow: -2px -2px 8px rgba(255, 255, 255, 0.5);
      text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
      background: #e1e4ff;
      font-family: $work-sans;
      font-size: $fs-larger;
      font-weight: 800;
      color: $base-text-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid $base-background-color-shade;
      border-radius: 3rem;
      cursor: pointer;
    }
  }

  /* Game Results */
  .GameResult {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    display: grid;
    place-items: center;
    font-family: $work-sans;
    font-size: $fs-large;
    font-weight: 800;
    color: $base-text-color;
    overflow: none;
  }
}
