@import "./imports/variables";

.HomePage {
  min-height: 100vh;
  padding-block: 6rem 8rem;
  display: flex;
  justify-content: center;
  position: relative;
  margin-inline: auto;
  background: $base-background-color;
  position: relative;

  .Circle {
    top: 25%;
    right: 30%;
    z-index: 1;
  }

  .Square {
    top: 50%;
    right: 60%;
    z-index: 1;
  }
}

.HomePageTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 2000px;
  z-index: 3;

  &__Title {
    text-shadow: -2px -2px 8px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: $fs-largest;
  }

  &__Para {
    max-width: 38rem;
    font-size: $fs-small;
    font-family: $open-sans;
    color: $base-text-color;
  }
}

.PlayButton {
  all: unset;
  padding: 2rem 3rem;
  border-radius: 2.6rem;
  cursor: pointer;
  background: $dark-gradient;
  box-shadow: 10px 10px 20px rgba(0, 0, 200, 0.4),
    inset -16px -16px 32px rgba(0, 21, 100, 0.6),
    inset 16px 16px 32px rgba(255, 255, 255, 0.5);

  &__Text {
    font-family: $work-sans;
    font-size: $fs-base;
    font-weight: 700;
    color: white;
  }
}

.ButtonContainer {
  margin-block-start: 6rem;
  display: flex;
  gap: 4rem;
}
