@import "./imports/variables";

.HomePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4rem;
  padding-block: 6rem 2rem;
  position: relative;
  margin-inline: auto;
  background: $base-background-color;
  overflow: hidden;

  .Circle {
    top: 25%;
    right: 30%;
  }

  .Square {
    top: 50%;
    right: 60%;
  }
}

.HomePageTop {
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 2000px;

  &__Title {
    text-shadow: -2px -2px 8px rgba(255, 255, 255, 0.5);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    font-size: $fs-largest;
  }

  &__Para {
    max-width: 38rem;
    font-size: $fs-small;
    font-family: $open-sans;
    color: $base-text-color;
  }
}

.HomePageBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  max-height: 42rem;
}

.PlayButton {
  all: unset;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 360px;
  border-radius: 50%;
  cursor: pointer;
  background: $dark-gradient;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
    inset -16px -16px 32px rgba(0, 21, 171, 0.6),
    inset 16px 16px 32px rgba(255, 255, 255, 0.5);

  &__Text {
    font-family: $work-sans;
    font-size: $fs-large;
    font-weight: 700;
    color: white;
  }
}
