@media (min-width: 2560px) {
  /* Home Page */
  .HomePageTop__Title {
    font-size: $fs-mega;
  }

  .HomePageTop__Para {
    font-size: $fs-base;
    max-width: 54rem;
  }

  .PlayButton {
    height: 420px;
    &__Text {
      font-size: $fs-large;
    }
  }

  /* Form Page */
  .FormPageTop__Title {
    font-size: $fs-largest !important;
  }

  .FormDialog {
    width: 64rem;
    min-height: 31rem;
    max-width: none;
    padding-inline: 4rem;
    padding-block: 3rem 6rem;
    gap: 4rem;

    &__FormEle .FormContainer__IdForm .IdForm__Ele span {
      font-size: $fs-base;
    }

    &__Steps {
      width: 40%;
    }

    .Step {
      padding-inline-end: 2rem;
    }

    .Step__Text,
    .Step__Number,
    .IdForm__Ele,
    .IdForm__Ele input {
      font-size: $fs-base !important;
    }

    .IdForm__Ele input {
      min-width: none !important;
      width: 100% !important;
    }

    .Step__Background {
      width: 100%;
    }

    .FormContainer {
      padding-block-start: 12px;
    }

    .FormContainer__Button {
      font-size: $fs-base;
    }

    .FormDialog__FormEle {
      width: 60%;
    }

    .FormDialog__FormEle .FormContainer__Options .OptionEle {
      height: 12rem;
      width: 12rem;
      font-size: $fs-largest;
      border-radius: 3.4rem;
    }
  }

  /* Game Page */
  .GamePage {
    .InfoContainer {
      padding-block-start: 0;
      padding-inline: 4rem;
    }

    .GameResult {
      h2 {
        font-size: $fs-largest;
      }
    }

    .GameBoard {
      grid-template-columns: repeat(3, max(14rem, 8vw));
      grid-template-rows: repeat(3, max(14rem, 8vw));
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      padding-inline: 4rem;
      border-radius: 8rem;
      .GameCell {
        font-size: $fs-largest;
        border-radius: 4rem;
      }
    }
  }
}
