@media (min-width: 2460px) {
  /* Home Page */
  .HomePageTop__Para {
    font-size: $fs-base;
    max-width: 54rem;
  }

  .PlayButton {
    &__Text {
      font-size: $fs-large;
    }
  }

  /* Game Page */
  .GamePage {
    .InfoContainer {
      padding-block-start: 0;
      padding-inline: 4rem;
    }

    .GameBoard {
      grid-template-columns: repeat(3, max(14rem, 8vw));
      grid-template-rows: repeat(3, max(14rem, 8vw));
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      padding-inline: 4rem;
      border-radius: 8rem;
      .GameCell {
        font-size: $fs-largest;
        border-radius: 4rem;
      }
    }
  }
}
