@media (max-width: 1440px) {
  /* HomePage */
  .HomePageTop {
    .TextContainer {
      padding-inline-start: 4rem;
    }
  }
  /* Form Page */
  .FormPageTop {
    padding-inline-start: 4rem;
  }

  .YourId {
    span {
      font-size: $fs-small;
    }
  }

  .Step {
    &__Text,
    &__Number {
      font-size: $fs-small;
    }
  }

  .FormPageTop__Title {
    font-size: $fs-larger;
  }

  .FormDialog__FormEle .FormContainer__Button {
    font-size: $fs-small;
  }

  .IdForm__Ele input,
  .IdForm__Ele {
    font-size: $fs-small !important;
  }

  /* Game Page */
  .GamePage {
    gap: 1rem;
    .GameBoard {
      border-radius: 4.2rem;
      grid-template-columns: repeat(3, max(6rem, 8vw));
      grid-template-rows: repeat(3, max(6rem, 8vw));
      .GameCell {
        font-size: $fs-large;
        border-radius: 2rem;
      }
    }
    .InfoContainer {
      padding: 1rem 2rem;
    }
  }
}

@media (max-width: 1100px) {
  /* Home Page */
  .HomePageTop {
    .TextContainer {
      padding-inline: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .HomePageTop__Title {
        font-size: $fs-larger;
      }
    }
  }

  /* Form Page */
  .FormDialog {
    .FormDialog__Steps .Step {
      min-width: 14rem;
    }
  }

  /* Game Page */
  .GamePage {
    .GameBoard {
      border-radius: 3.6rem;
    }
  }
}

@media (max-width: 1020px) {
  /* Form Page */
  .FormPage {
    justify-content: center;
  }

  .FormPageTop {
    padding-inline: 2rem;
    &__Title {
      font-size: $fs-large;
    }
  }

  .FormContainer {
    .FormInner__Wrapper {
      .FormContainer__Options {
        gap: 2rem;
      }
    }
  }

  .FormDialog {
    margin-block: 2rem;
    padding-block-end: 2rem;
  }

  .GamePage {
    .GameBoard {
      grid-template-columns: repeat(3, max(6rem, 8vw));
      grid-template-rows: repeat(3, max(6rem, 8vw));
      .GameCell {
        font-size: $fs-large;
        border-radius: 2rem;
      }
    }
  }
}
