@media (max-width: 1400px) {
  /* Home Page */
  .HomePageTop__Title {
    font-size: $fs-larger;
  }

  .PlayButton {
    height: 290px;
    width: 305px;

    &__Text {
      font-size: $fs-large;
    }
  }

  /* Form Page */
  .YourId {
    span {
      font-size: $fs-small;
    }
  }

  .Step {
    &__Text,
    &__Number {
      font-size: $fs-small;
    }
  }

  .FormPageTop__Title {
    font-size: $fs-larger;
  }

  .FormDialog__FormEle .FormContainer__Button {
    font-size: $fs-small;
  }

  .IdForm__Ele input,
  .IdForm__Ele {
    font-size: $fs-small !important;
  }

  /* Game Page */
  .GamePage {
    gap: 1rem;
    .GameBoard {
      grid-template-columns: repeat(3, max(6rem, 8vw));
      grid-template-rows: repeat(3, max(6rem, 8vw));
      .GameCell {
        font-size: $fs-large;
        border-radius: 2rem;
      }
    }
    .InfoContainer {
      padding-inline: 1rem;
      padding-block-start: 0;
      .SideChar {
        font-size: $fs-large;
      }
    }
  }
}

@media (max-width: 1020px) {
  /* Home Page */
  .HomePageTop {
    align-items: center;
    padding-inline: 2rem;
  }

  /* Form Page */
  .FormPage {
    justify-content: center;
  }

  .FormPageTop {
    padding-inline: 2rem;
    &__Title {
      font-size: $fs-large;
    }
  }

  .FormContainer {
    .FormInner__Wrapper {
      .FormContainer__Options {
        gap: 2rem;
      }
    }
  }

  .FormDialog {
    margin-block-start: 2rem;
    padding-block-end: 2rem;
  }

  .GamePage {
    .GameBoard {
      grid-template-columns: repeat(3, max(6rem, 8vw));
      grid-template-rows: repeat(3, max(6rem, 8vw));
      .GameCell {
        font-size: $fs-large;
        border-radius: 2rem;
      }
    }
  }
}
