@media (max-width: 730px) {
  /* Home Page */
  .HomePage {
    padding-block-start: 4rem;
    justify-content: center;
    gap: 2rem;
  }

  .HomePageTop {
    padding-inline: 24px;
    padding-block-end: 4rem;
    gap: 1rem;

    &__Title {
      align-self: flex-start;
      font-size: $fs-large;
    }

    &__Para {
      align-self: flex-start;
      font-size: 12px;
    }

    .PlayButton {
      border-radius: 2.2rem;
      &__Text {
        font-size: $fs-small;
      }
    }
  }

  /* Form Page */
  .FormPage {
    align-items: flex-start;
    padding-block-start: 2rem;
  }

  .FormPageTop {
    justify-content: center;
  }

  .FormDialog {
    flex-direction: column;
    padding-inline: 2rem;
    padding-block-start: 2rem;
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    gap: 1rem;

    &__FormEle {
      width: 100%;

      .FormContainer {
        width: 100%;
        display: block;

        .FormInner__Wrapper {
          width: 100%;
          gap: 2rem;
          padding-block: 24px 36px;
          padding-inline: 36px;
          border-radius: 3rem;
          background: $white-gradient;
          box-shadow: 16px 16px 32px rgba(200, 200, 255, 0.6),
            inset -12px -12px 24px rgba(219, 225, 255, 0.8),
            inset 16px 16px 32px #ffffff;
        }
      }
    }

    .FormContainer__Options {
      justify-content: space-between;
      gap: 1rem;
    }

    &__Steps {
      width: calc(100% - 1rem);
      flex-direction: row;

      .Step {
        min-width: 0;
        width: 100%;
        padding-inline-end: 1rem !important;
        padding-block: 8px;

        &__Number {
          padding: 0;
          width: 32px;
          height: 32px;
        }

        &--Active {
          .Step__Number {
            background: $base-background-color;
          }
        }

        &__Background {
          width: 100%;
          background: white !important;
          border-radius: 2rem;
        }
      }
    }
  }

  .YourId {
    padding: 1rem !important;
    justify-content: space-between;
    gap: 12px;

    &Inner__Wrapper {
      width: 100%;
      justify-content: space-between;
    }
  }

  .YourId > span {
    white-space: nowrap;
  }

  /* Game Page */
  .GamePage {
    padding: 24px;

    .InfoContainer {
      padding: 0;
    }

    .GameResult h2 {
      font-size: $fs-large !important;
    }
  }
}

@media (max-width: 540px) {
  /* Form Page */
  .FormDialog__Steps {
    justify-content: space-between;
    .Step {
      .Step__Number {
        margin-inline: 0;
      }
      width: max-content;
    }
  }

  .YourId {
    flex-direction: column;
    &Inner__Wrapper {
      flex-direction: column;
    }
  }

  /* Game Page */
  .GamePage {
    padding: 0;
    .InfoWrapper {
      gap: 0;
      .InfoContainer {
        padding-inline: 12px;
      }
    }
    .GameBoard {
      padding: 1.4rem;
      grid-column-gap: 12px;
      grid-row-gap: 12px;
      border-radius: 3rem;
      .GameCell {
        border-radius: 2rem;
      }
    }
  }
}

@media (max-width: 420px) {
  /* Home Page */
  .HomePage {
    padding-block: 2rem;
    gap: 2rem;
  }

  .HomePageTop {
    padding-block-end: 0;
    .ButtonContainer {
      gap: 2rem;
      .PlayButton {
        border-radius: 1.4rem;
        padding: 1rem 2rem;
      }
    }
  }

  /* Form Page */
  .FormPageTop {
    padding-inline: 24px;

    .FormDialog__FormEle .FormContainer__Options .OptionEle {
      height: 6rem;
      width: 6rem;
      font-size: $fs-large;
    }

    .FormInner__Wrapper {
      min-width: 280px;
    }

    .Step--Inactive {
      padding-inline: 0;
      gap: 0;
      .Step__Number {
        margin: 0;
      }
      .Step__Background {
        display: none;
      }
    }

    &__Title {
      font-size: $fs-large;
    }

    .ReceiveChallengeContainer {
      justify-content: center;
      .Indicator__Component {
        flex-grow: 0;
        .Sphere__Layer {
          &One {
            width: 300px;
          }

          &Two {
            width: 280px;
          }

          &Final {
            width: 240px;
            height: 240px;
          }
        }
      }
    }
  }

  /* Game Page */
  .GamePage {
    .InfoContainer .SideChar {
      font-size: $fs-base;
    }

    .GameResult h2 {
      text-align: center;
    }

    .ResetButton {
      font-size: $fs-small !important;
    }

    .GameBoard {
      grid-template-columns: repeat(3, max(5rem, 8vw));
      grid-template-rows: repeat(3, max(5rem, 8vw));

      .GameCell {
        font-size: $fs-base;
        border-radius: 1.4rem;
      }
    }
  }
}

@media (max-width: 380px) {
  /* Form Page */
  .FormPage {
    .FormPageTop {
      padding-inline: 12px;

      .FormDialog {
        &__Steps {
          gap: 0;
        }

        .FormInner__Wrapper {
          padding: 24px;
        }
      }

      .FormDialog__FormEle .FormContainer__IdForm .IdForm__Ele input {
        min-width: 240px;
      }

      .YourId {
        padding-inline: 4px;
        padding-block: 1rem;

        &Inner__Wrapper {
          .YourId__Text {
            font-size: 0.8rem;
            padding-inline: 4px;
          }
        }
      }

      &__Title {
        font-size: $fs-large !important;
      }
    }
  }
  /* Game Page */
  .GamePage {
    .GameBoard {
      grid-template-columns: repeat(3, max(4rem, 8vw));
      grid-template-rows: repeat(3, max(4rem, 8vw));
    }
  }
}

@media (max-width: 340px) {
  .FormPage .FormPageTop__Title {
    font-size: 3rem !important;
    width: 100%;
  }
}
